# Ignore everything by default
*

# Allow necessary files for build
!frontend/
!nginx/
!backend/data/

# Deny unnecessary frontend files
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local